%h1
  = t "transactions.account.title", :name =>  @account.name

#actions
  = link_to t("transactions.new.href"), new_transaction_path("transaction[account_id]" => @account.id)
  = link_to t("transactions.account.back_link"), root_path

- if @transactions.present?
  = render "transactions" , :locals => { :transactions => @transactions }

- else
  = t("transactions.account.no_transaction")
-

