%h1= t "transactions.new.title"

#new-transaction
  = semantic_form_for @transaction  do |form|
    = form.semantic_errors
    = form.inputs :transaction_general_info do
      = form.inputs :title, :amount
      = form.input :account_id, :as => :select , :collection => @accounts
      = form.input :tag_list
    -
    = form.buttons  do
      = form.commit_button :button_html => { :class => "primary" }
      = form.cancel_link transactions_path
    -
  -
