%h1= t "accounts.new.title"

%p#explanation
  = t "accounts.new.explanation" 

= semantic_form_for @account do |form|
  = form.inputs :name, :initial_balance 
  = form.buttons  do 
    = form.commit_button
    = form.cancel_link accounts_path 
  -
-
